.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}

.header {
  border-bottom: none;
}

.footer {
  border-top: none;
}

body {
  background: #d4d2d1;
}