<div class="row">

    <!-- Epics panel -->
    <div class="col-md-6" ng-controller="EpicCtrl">
        <div class="panel">
            <div class="panel-body">
                <h2>Epics</h2>
                Toto
            </div>
        </div>
    </div>

    <!-- Stories panel -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body" ng-controller="StoryCtrl">
                <h2>Stories</h2>
                Toto
            </div>
        </div>
    </div>

</div>
